<%- include("../layout/head") %>


    <link rel="stylesheet" href="/css/body.css">

    <body>
        <div class="aside" style="border: none;">
            <%- include("../layout/aside_admin") %>
        </div>
        <div class="content">
            <%- include("../layout/nav_admin") %>
                <div class="profile col-md-12" style="margin-left: 15%;">
                    <div class="page-header text-center">
                        <h1><span class="fa fa-anchor"></span> Hộp thư đến</h1>
                        <br><br>
                    </div>
                    <div>
                        <h5>Người gửi: <%= list.name %> <p> (<%= list.email %>)</p>
                        </h5>
                        <h5>Tiêu đề: <%= list.title %></h5>
                        <h5>Nội dung liên hệ:
                        </h5>
                        <p>
                            <%= list.note %>
                        </p>
                    </div>
                    
                    <div>
                        <h4>Thông tin phản hồi</h4>
                        <textarea name="phanhoi" id="phanhoi" cols="50" rows="5"></textarea>
                        <br>
                        <span id="errorPhanhoi" style="color: red; margin-top: 20px;"></span>

                    </div>
                    <!-- LOCAL INFORMATION -->
                    <button type="button" onclick="sendmail()"> Trả lời</button>
                </div>
        </div>
    </body>

    <script>
        let data = JSON.parse(decodeURIComponent(`<%- encodeURIComponent(JSON.stringify(list)); %>`));
        function sendmail() {
            let noidung = document.getElementById("phanhoi").value
            let data2 = {
                email: data.email,
                type: 'lienhe',
                noidung: noidung
            }
            if(noidung ===''){
                document.getElementById(`errorPhanhoi`).textContent = "Thông tin phản hồi không được bỏ trống !! ";
            }else{
                document.getElementById(`errorPhanhoi`).textContent = "";
                fetch('/sendmail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data2)
                })
                .then(response => response.json())
                .catch(error => {
                    console.error('Error calling API:', error);
                });
            }
      }
    </script>