<!---------------------->
<%- include("../layout/head") %>

  <link rel="stylesheet" href="/css/body.css">
  <style>
    .form-group {
      width: 50%;
    }
  </style>

  <body>
    <div class="aside" style="border: none;">
      <%- include("../layout/aside_admin") %>
    </div>
    <div class="content">
      <%- include("../layout/nav_admin") %>
        <!-- <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Thông tin tài khoản</h1>
    </div> -->
        <form class="form-signin" action="/edit-product" method="POST" enctype="multipart/form-data">
          <h2>Cập nhật sản phẩm</h2>
          <br>

          <br>

          <div style="width: 900px;">
            <div>
              <div class="form-group">
                <input type="hidden" value="<%- danhsach._id %>" name="id" class="form-control" placeholder="id" required>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="form-control-label">Tên sản phẩm</label>
                </div>
                <div class="col-md-9 form-group">
                  <input type="text" name="name" value="<%- danhsach.name %>" class="form-control" placeholder="Tên sản phẩm" required>
                </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Số lượng</label>
              </div>
              <div class="col-md-9 form-group">
                <input type="number" value="<%- danhsach.quantity %>" name="quantity" class="form-control" placeholder="Số lượng" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Mô tả</label>
              </div>
              <div class="col-md-9 form-group">
                <input type="text" value="<%- danhsach.note %>" name="note" class="form-control" placeholder="Mô tả" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Giá bán</label>
              </div>
              <div class="col-md-9 form-group">
                <input type="number" value="<%- danhsach.price %>" name="price" class="form-control" placeholder="Giá bán" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Nhà cung cấp</label>
              </div>
              <div class="col-md-9 form-group">
                <select class="form-control" id="providerID" name="providerID">
                  <option value="">---Chọn---</option>
                  <% providers.forEach(function(provider){ %>
                    <option name="providerID" value="<%= provider._id%>" <%= danhsach.providerID == provider._id ? 'selected' : "" %>>
                      <%= provider.nameprovider%>
                    </option>
                    <% }) %>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Loại sản phẩm</label>
              </div>
              <div class="col-md-9 form-group">
                <select class="form-control" id="cateID" name="cateID">
                  <option value="">---Chọn---</option>
                  <% cates.forEach(function(cate){ %>
                    <option value="<%= cate._id%>" <%= danhsach.cateID == cate._id ? 'selected' : "" %> >
                      <%= cate.namecate%>
                    </option>
                    <% }) %>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Size</label>
              </div>
              <div class="col-md-9 form-group">
                <select class="form-control selectpicker" id="sizeId" name="sizeId" data-live-search="true"
                  data-actions-box="true" multiple>
                    <% sizes.forEach(function(size){ %>
                      <option name="sizeId" value="<%= size._id%>" <%= danhsach.sizeId.includes(size._id) ? 'selected' : "" %>>
                        <%= size.size%>
                      </option>
                      <% }) %>
                  </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Màu sắc</label>
              </div>
              <div class="col-md-9 form-group">
                <select class="form-control selectpicker" id="colorId" name="colorId"  data-live-search="true"
                  data-actions-box="true" multiple>
                    <% colors.forEach(function(color){ %>
                      <option name="colorId" value="<%= color._id%>" <%= danhsach.colorId.includes(color._id) ? 'selected' : "" %>>
                        <%= color.color%>
                      </option>
                      <% }) %>
                  </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  <label class="form-control-label">Ảnh minh họa</label>
              </div>
              <div class="col-md-9 form-group">
                <img src="/upload/<%- danhsach.image %>" style="width: 50%">
                <input type="file" name="image">
              </div>
            </div>
          </div>
         
          <button class="btn form-group btn-lg btn-warning btn-block text-uppercase" type="submit"
            style="display: block;
            width: 15%;
            height: 40px;
            line-height: 25px;"><span>Cập nhật</span></button>
        </form>
    </div>
  </body>