<%- include("../layout/head") %>
  <link rel="stylesheet" href="/css/body.css">

  <body>
    <div class="aside" style="border: none;">
      <%- include("../layout/aside_admin") %>
    </div>
    <div class="content">
      <%- include("../layout/nav_admin") %>
        <!-- <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Thông tin tài khoản</h1>
    </div> -->
        <% function listSize(data){ } %>

          <div class="profile">
            <div class="header py-3">
              <h3 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h3>
              <% if (message.length> 0) { %>
                <script>
                  console.log("<%= message %>");
                  Swal.fire({
                    icon: "success",
                    title: "<%= message %>",
                    showConfirmButton: false,
                    timer: 1000
                  });
                </script>
                <% } %>
                  <div>
                    <div></div>
                    <div style="float: right; margin-right: 60px;">
                      <a href="/download">Xuất Excel</a> |
                      <a href="/admin/insert-product">Thêm mới</a>
                    </div>
                  </div>
            </div>
            <div class="container">

              <div class="row">
                <table>
                  <thead class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <th>Loại sản phẩm</th>
                    <th>Tên</th>
                    <th>Hình ảnh</th>
                    <th>Màu sắc</th>
                    <th>Size</th>
                    <th>Mô tả</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>
                      Tác vụ
                    </th>
                  </thead>
                  <tbody>
                    <% danhsach.forEach(function(product){ %>
                      <tr class="text-center">
                        <td>
                          <% cates.forEach(function(cate){ %>
                            <% if (product.cateID==cate._id) { %>
                              <%= cate.namecate %>
                                <% } %>
                                  <% }) %>
                        </td>
                        <td class="text-left"><%- product.name %></td>
                        <td>
                          <img class="" src="/upload/<%- product.image %>" alt="<%- product.name %>"
                            style="padding-right: 6%; width: 80px; height: 80px;" />
                        </td>
                        <td>
                          <% colors.forEach(function(color){ %>
                            <% if (product.colorId.includes(color._id)) { %>
                              <div>
                                <%= color.color %>
                              </div>
                              <% } %>
                                <% }) %>
                        </td>
                        <td>
                          <% sizes.forEach(function(size){ %>
                            <% if (product.sizeId.includes(size._id)) { %>
                              <div>
                                <%= size.size %>
                              </div>
                              <% } %>
                                <% }) %>
                        </td>
                        <td class="text-left"><%- product.note %></td>
                        <td><%- product.quantity %></td>
                        <td><%- product.price %></td>
                        <td>
                          <a href="/admin/edit-product/<%- product._id %>">Sửa </a>
                          |
                          <span class="btn-xoa" onClick="deleteProdcut('<%- product._id %>')">Xóa</span>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- pagination -->
            <div class="row">
              <!-- hiển thị phân trang nếu có trang -->
              <% if(pages> 0) { %>
                <nav class="mx-auto">
                  <ul class="pagination" style="margin-top: 2rem;">

                    <!-- FIRST ITEM -->
                    <% if(current==1) { %>

                      <li class="page-item disabled">
                        <a class="page-link">First</a>
                      </li>
                      <% } else { %>

                        <li class="page-item">
                          <a class="page-link" href="/admin/list-product">First</a>
                        </li>
                        <% } %>

                          <!-- ITEMS  -->
                          <% var i=(Number(current)> 3 ? Number(current) - 2 : 1) %>
                            <% if(i !==1) { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="#">...</a>
                              </li>
                              <% } %>
                                <% for(; i <=(Number(current) + 2) && i <=pages; i++) { %>
                                  <% if(i==current) { %>
                                    <li class="page-item active">
                                      <a class="page-link" href="/admin/list-product/<%= i %>/">
                                        <%= i %>
                                      </a>
                                    </li>
                                    <% } else { %>
                                      <li class="page-item">
                                        <a class="page-link" href="/admin/list-product/<%= i %>/">
                                          <%= i %>
                                        </a>
                                      </li>
                                      <% } %>
                                        <% if (i==Number(current) + 2 && i < pages) { %>
                                          <li class="page-item disabled">
                                            <a class="page-link" href="#">...</a>
                                          </li>
                                          <% } %>
                                            <% } %>

                                              <!-- LAST ITEM -->
                                              <% if(current==pages) { %>
                                                <li class="page-item disabled">
                                                  <a class="page-link">
                                                    Last
                                                  </a>
                                                </li>
                                                <% } else { %>

                                                  <li class="page-item">
                                                    <a class="page-link" href="/admin/list-product/<%= pages %>/">
                                                      Last
                                                    </a>
                                                  </li>
                                                  <% } %>
                  </ul>
                </nav>
                <% } %>
            </div>
          </div>
  </body>

  <script>
    function deleteProdcut(id) {
      Swal.fire({
        title: 'Thông báo',
        text: "Bạn có muốn xóa sản phẩm này không ?",
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Đồng ý',
        cancelButtonText: 'Hủy'
      }).then((result) => {
        if (result.isConfirmed == true) {
          fetch(`/delete-product/${id}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            },
          })
            .then(response => {
              console.log(response);
              Swal.fire({
                title: 'Thành công',
                text: 'Xóa sản phẩm thành công!',
              }).then(() => {
                window.location.reload();
              });
            })
            .catch(error => {
              console.error('Error calling API:', error);
            });
        }
      });
    }
  </script>