<%- include("../layout/head") %>

  <%
    function formartTime(date){
      return moment(date).format("HH:mm:ss DD/MM/YYYY")
    }
  %>
  <style>
    .tr {
      text-align: center;
    }
  </style>
  <script type="text/javascript">
    // console.log("vào đây");
    // function formartTime(date){
    //   return moment(date).format("YYYY/MM/DD HH:mm:ss")
    // }
  </script>
  <body>
    <div class="aside" style="border: none">
      <%- include("../layout/aside_admin") %>
    </div>
    <div class="content">
      <%- include("../layout/nav_admin") %>

        <div class="container">
          <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Hộp thư đến</h1>
            <br />
            <br />

            <table>
              <tr class="text-center">
                <th>
                  Người gửi
                  <br />
                  <br />
                </th>
                <th>
                  Tiêu đề
                  <br />
                  <br />
                </th>
                <th>
                  Ngày gửi
                  <br />
                  <br />
                </th>
                <th>
                  Xoá
                  <br />
                </th>
              </tr>

              <% list.forEach(function(contact){ %>
                <tr class="text-center" id="p1" onmouseup="mouseUp()" style="color: red">
                  <td>
                    <p>
                      <%= contact.name %>
                    </p>
                  </td>
                  <td>
                      <%= contact.title %>
                  </td>
                  <td>
                    <%=  formartTime(contact.ngaygui) %>
                  </td>
                  <td>
                    <a href="/detail-notification/<%= contact.id %>">
                      Trả lời
                    </a>
                    <span style="color: black;">|</span>
                    <a href="/delete-contact/<%- contact.id %>"> Xoá </a>
                  </td>
                </tr>

                <% }); %>

            </table>
            <!-- LOCAL INFORMATION -->
          </div>
        </div>
    </div>
  </body>
  