<%- include("../layout/head") %>
<link rel="stylesheet" href="/css/body.css">
<body>
    <div class="aside" style="border: none;">
        <%- include("../layout/aside_admin") %>
    </div>
    <div class="content">
        <%- include("../layout/nav_admin") %>
        <p>hello world <%- title%></p>
        <button class="btn btn-primary" id="zmdi-refresh">Refesh</button>
        <table class="table-bordered mt-3">
            <thead>
                <tr>
                    <td class="text-center">Name</td>
                    <td class="text-center">Email</td>
                    <td class="text-center">Tác vụ</td>
                </tr>
            </thead>
            <tbody>
                <% user.forEach(item => {%>
                    <tr>
                        <td class="text-center"><%- item.name %></td>
                        <td class="text-center"><%- item.email %></td>
                        <td class="text-center">
                            <button class="btn btn-info">Edit</button>
                        </td>
                    </tr>
                <% })%>
            </tbody>
        </table>
    </div>
</body>